<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 매장 목록</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 파비콘 관련 링크 -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include("common/admin_header.ejs") %>
    <div id="admin_storeList">
        <div class="center">
            <a class="add_btn" href="/admin/storeAdd">신규 매장 추가</a>
            <!-- 매장 리스트 전부 보이는 구간 -->
            <div class="storewrap">
                <% for(let i = 0; i < storeData.length; i++){ %>
                <div class="list">
                    <p><%- storeData[i].num %></p>
                    <h3><%- storeData[i].name %></h3>
                    <p><%- storeData[i].sido %> <%- storeData[i].sigugun %></p>
                    <p><%- storeData[i].address %></p>
                    <p><%- storeData[i].phone %></p>
                    <div class="btns">
                        <a class="editBtn" href="#">수정하기</a>
                        <a class="deleteBtn" href="/storeDelete/<%- storeData[i].num %>">삭제하기</a>
                    </div>
                    <!-- 매장정보를 수정하는 form태그 구간 -->
                    <form class="updateForm" action="/storeUpdate" method="post">
                        <input type="hidden" name="hiddenNo" id="hidden" value="<%- storeData[i].num %>">
                        <div class="line">
                            <!-- 매장 이름 -->
                            <input type="text" name="name" value="<%- storeData[i].name %>">
                        </div>
                        <div class="line">
                            <!-- 매장 전화번호 -->
                            <input type="text" name="phone" value="<%- storeData[i].phone %>">
                        </div>
                        <div class="line address">
                            <!-- 매장 주소중 시/도 -->
                            <select name="sido" class="sido" required>
                                <option value>시/도 선택</option>
                            </select>
                            <select name="gugun" class="gugun" required>
                                <!-- 매장 주소중 구/군 -->
                                <option value>구/군 선택</option>
                            </select>
                        </div>
                        <div class="line address">
                            <!-- 매장 상세주소 -->
                            <input type="text" id="sample4_postcode" style="display:none;" placeholder="우편번호">
                            <input type="button" onclick="sample4_execDaumPostcode()" value="주소검색"><br>
                            <input type="text" id="sample4_roadAddress" name="detail" value="<%- storeData[i].address %>">
                            <input type="text" id="sample4_jibunAddress" style="display:none;" placeholder="지번주소">
                            <span id="guide" style="color:#999;display:none"></span>
                            <input type="text" id="sample4_detailAddress" style="display:none;" placeholder="상세주소">
                            <input type="text" id="sample4_extraAddress" style="display:none;" placeholder="참고항목">
                        </div>
                        <div class="line btns">
                            <!-- 수정, 수정 취소 버튼 -->
                            <button type="submit">매장정보 수정</button>
                            <button class="cancel" type="button">매장정보 수정 취소</button>
                        </div>
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <script>
        let deleteBtn = document.querySelector(".deleteBtn");

        deleteBtn.addEventListener("click",(event) => {
            check = confirm("삭제하시겠습니까?")
            if(!check) {
                event.preventDefault();
            }
        })
    </script>
    <!-- 시/도 구/군 선택 위한 스크립트 -->
    <script src="/js/hangjungdong.js"></script>
    <script src="/js/storeselect.js"></script>
    <!-- 다음 주소검색 관련 스크립트 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/address_search.js"></script>
    <!-- 수정버튼 관련 스크립트 -->
    <script src="/js/admin_edit.js"></script>
    <!-- 삭제버튼 관련 스크립트 -->
    <script src="/js/deleteBtns.js"></script>
</body>
</html>