<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 상품 목록</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <style>
        .prdUpdate {display:none;}
    </style>
</head>
<body>
    <!-- 상품목록 페이지 / 매장등록 페이지 -->
    <ul class="admin_menu">
        <li><a href="/admin/prdlist">상품 등록 페이지</a></li>
        <li><a href="/admin/storelist">매장 등록 페이지</a></li>
    </ul>
    <!-- 상품을 등록하는 form태그 구간 -->
    <form action="/add/prdlist" method="post" enctype="multipart/form-data">
        <select name="category">
            <option value="도넛">도넛</option>
            <option value="잼">잼</option>
            <option value="커피">커피</option>
            <option value="라떼">라떼</option>
            <option value="티">티</option>
            <option value="에이드">에이드</option>
        </select>
        <input type="text" name="name">
        <input type="file" name="thumbnail">
        <button type="submit">상품등록</button>
    </form>
    <!-- 등록된 상품 목록 전부 보여주는 구간 -->
    <div class="prdwrap">
        <% for(let i = 0; i < prdData.length; i++){ %>
        <div class="list">
            <h3><%- prdData[i].num %></h3>
            <p><%- prdData[i].name %></p>
            <p><%- prdData[i].category %></p>
            <img src="/upload/<%- prdData[i].thumbnail %>">
            <div class="btns">
                <a class="editBtn" href="#">수정하기</a>
                <a href="/prdDelete/<%- prdData[i].num %>">삭제하기</a>
            </div>
            <!-- 상품을 수정하는 form태그 구간 -->
            <form class="prdUpdate" action="/prdUpdate" method="post" enctype="multipart/form-data">
                <input type="hidden" name="hiddenNo" id="hidden" value="<%- prdData[i].num %>">
                <select name="categoryUp">
                    <option value="도넛">도넛</option>
                    <option value="잼">잼</option>
                    <option value="커피">커피</option>
                    <option value="라떼">라떼</option>
                    <option value="티">티</option>
                    <option value="에이드">에이드</option>
                </select>
                <input type="text" name="nameUp" value="<%- prdData[i].name %>">
                <input type="file" name="thumbnailUp">
                <button type="submit">상품수정</button>
                <button class="cancel" type="button">상품수정 취소</button>
            </form>
        </div>
        <% } %>
    </div>
    <script>
        let editBtn = document.querySelectorAll(".prdwrap .editBtn");
        let cancel = document.querySelectorAll(".prdwrap .cancel");
        let prdUpdateForm = document.querySelectorAll(".prdwrap .prdUpdate")

        editBtn.forEach((el,index) => {
            el.addEventListener("click",(event) => {
                event.preventDefault();
                prdUpdateForm[index].style.display = "block";
            });
        });
        cancel.forEach((el,index) => {
            el.addEventListener("click", (event) => {
                event.preventDefault();
                prdUpdateForm[index].style.display = "none";
            });
        });
    </script>
</body>
</html>