<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 게시글 수정페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("common/admin_header.ejs") %>
    <div id="board_edit_wrap">
        <div class="center">
            <% for(let i = 0; i < brdData.length; i++){ %>
            <form action="/update/board" method="post" enctype="multipart/form-data">
                <input type="hidden" name="num" value="<%- brdData[i].num %>">
                <div class="line">
                    <label for="title">제목</label>
                    <input type="text" name="title" id="title" value="<%- brdData[i].title %>">
                </div>
                <div class="line">
                    <label for="date">날짜</label>
                    <input type="text" name="date" value="<%- brdData[i].date %>">
                </div>
                <div class="line">
                    <label for="date">날짜</label>
                    <input type="text" name="date" value="<%- brdData[i].date %>">
                </div>
                <div class="line">
                    <label for="classification">분류</label>
                    <select name="classification" id="classification">
                        <option value="<%- brdData[i].classification %>"><%- brdData[i].classification %></option>
                        <option value="news">공지사항</option>
                        <option value="event">이벤트</option>
                    </select>
                </div>
                <div class="line">
                    <label for="file">파일 첨부</label>
                    <input type="hidden" name="originFile" value="<%- brdData[i].file %>">
                    <input type="file" name="file" id="file">
                </div>
                <div class="line">
                    <label for="context">내용</label>
                    <textarea name="context" id="context"> <%- brdData[i].context %></textarea>
                </div>
                <div class="line btns">
                    <button type="submit">작성</button>
                    <a href="/admin/detail/<%- brdData[i].num %>">작성 취소</a>
                </div>
            </form>
            <% } %>
        </div>
    </div>
</body>
</html>