<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="board_detail_wrap">
        <div class="center">
            <% for(let i = 0; i < brdData.length; i++){ %>
            <table class="brd_detail">
                <!-- db에서 데이터 받아와서 여기에 넣어주기 -->
                <tr class="brd_line top_line">
                    <th class="title left_th">제목</th>
                    <td class="title right_th"><%- brdData[i].title %></td>
                </tr>
                <tr class="brd_line">
                    <th class="date left_th">날짜</th>
                    <td class="date right_th"><%- brdData[i].date %></td>
                </tr>
            </table> 
            <div class="brd_context">
                <p><%- brdData[i].context %></p>
            </div>
            <div class="brd_img_box">
                <img src="/upload/<%- brdData[i].file %>">
            </div>
                <% if(brdData[i].classification == "news"){ %>
                    <a href="/board/news">목록</a>
                <% } else { %>
                    <a href="/board/notice">목록</a>
                <% } %> 
            <% } %>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
</body>
</html>