<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 파비콘 관련 링크 -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="board_list_wrap">
        <div class="center">
            <h2>공지사항</h2>
            <table class="brd_wrap">
                <tr class="brd_top">
                    <th class="number">번호</th>
                    <th class="classification">분류</th>
                    <th class="title">제목</th>
                    <th class="date">날짜</th>
                </tr>
                <!-- 반복문으로 데이터 받아와서 여기에 넣어주기 -->
                <% brdData.forEach(function(el, index){ %>
                    <tr class="brd_bot">
                        <td class="number"><%- el.num %></td>
                        <td class="classification"><%- el.classification %></td>
                        <td class="title user_title"><a href="/detail/<%- el.num %>"><%- el.title %></a></td>
                        <td class="date user_date"><%- el.date %></td>
                    </tr>
                <% }); %>
            </table>
            <%- include("common/paging.ejs") %>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
</body>
</html>