<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도넛 상세 페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="detail_wrap">
        <div class="center">
            <% for(let i = 0; i < prdData.length; i++){ %>
                <div class="top">
                    <h3><%- prdData[i].name %></h3>
                </div>
                <div class="bot">
                    <div class="img_box">
                        <img src="/upload/<%- prdData[i].thumbnail %>">
                    </div>
                    <div class="text_box">
                        <p class="taste"><%- prdData[i].taste %></p>
                        <p class="sub_text">영양 정보</p>
                        <ul>
                            <li>가격: <%- prdData[i].price %>￦</li>
                            <li>영양 정보: <%- prdData[i].calorie %></li>
                            <li>알레르기 정보: <%- prdData[i].allergy %></li>
                        </ul>
                    </div>
                </div>
                <% if(prdData[i].category == "도넛"){ %>
                    <a href="/menu/doughnut">목록</a>
                <% } else if (prdData[i].category == "커피") { %>
                    <a href="/menu/coffee">목록</a>
                <% } else if (prdData[i].category == "티") { %>
                    <a href="/menu/tea">목록</a>
                <% } else if (prdData[i].category == "에이드") { %>
                    <a href="/menu/ade">목록</a>
                <% } %> 
            <% } %>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
</body>
</html>