<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캘리포니아 도넛클럽</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 스크롤시 등장효과 AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- 파비콘 관련 링크 -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="container">
        <div class="top_btn">
            <img src="/img/up.png">
        </div>
        <div class="slider">
            <div class="center">
                <div class="view">
                    <div class="btns">
                        <div class="point_btns">
                            <img class="left" src="/img/left.png">
                            <img class="right" src="/img/right.png">
                        </div>
                        <div class="circle_btns">
                            <span class="on"></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="wide">
                        <div class="slide01"><img src="/img/slide04.png"></div>
                        <div class="slide02"><a href="/detail/1"><img src="/img/slide02.png"></a></div>
                        <div class="slide03"><img src="/img/slide03.png"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel">
            <div class="center">
                <h2 data-aos="fade-up" data-aos-duration="1000">Welcome to California Doughnut Club</h2>
                <div class="carousel_boxs" data-aos="fade-up" data-aos-duration="1000">
                    <div class="img_boxs">
                        <img src="/img/img01.jpg">
                        <img src="/img/img02.jpg">
                        <img src="/img/img05.jpg">
                        <img src="/img/img03.jpg">
                    </div>
                    <div class="text_boxs">
                        <div class="line" data-index="0">
                            <span class="blue">California Doughnut Club</span>
                            <span class="red">California Doughnut Club</span>
                            <span class="blue">California Doughnut Club</span>
                            <span class="red">California Doughnut Club</span>
                        </div>
                        <div class="line right" data-index="1">
                            <span class="blue">California Doughnut Club</span>
                            <span class="red">California Doughnut Club</span>
                            <span class="blue">California Doughnut Club</span>
                            <span class="red">California Doughnut Club</span>
                        </div>
                        <div class="line" data-index="2">
                            <span class="blue">California Doughnut Club</span>
                            <span class="red">California Doughnut Club</span>
                            <span class="blue">California Doughnut Club</span>
                            <span class="red">California Doughnut Club</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new_product">
            <div class="center">
                <h2 data-aos="fade-up" data-aos-duration="1000">Limited Time</h2>
                <div class="new_prd_list">
                    <ul class="left_boxs" data-aos="fade-right" data-aos-duration="1000">
                        <% for(let i = 0; i < prdData.length; i++){ %>
                        <li class="box"><p><%- prdData[i].name %></p></li>
                        <% } %>
                    </ul>
                    <div class="mid_boxs" data-aos="fade-up" data-aos-duration="1000">
                        <% for(let i = 0; i < prdData.length; i++){ %>
                        <div class="box"><img src="/upload/<%- prdData[i].thumbnail %>"></div>
                        <% } %>
                    </div>
                    <div class="right_boxs" data-aos="fade-left" data-aos-duration="1000">
                        <% for(let i = 0; i < prdData.length; i++){ %>
                        <div class="box">
                            <h3><%- prdData[i].name %></h3>
                            <p><%- prdData[i].taste %></p>
                            <p><%- prdData[i].nutrition %></p>
                            <p><%- prdData[i].allergy %></p>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="mobile_prd_list" data-aos="fade-up" data-aos-duration="1000">
                    <% for(let i = 0; i < prdData.length; i++){ %>
                    <div class="prd_box">
                        <a href="/doughnut/<%- prdData[i].num %>">
                            <img src="/upload/<%- prdData[i].thumbnail %>">
                            <p><%- prdData[i].name %></p>
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="bake_count">
            <div class="center">
                <h2 data-aos="fade-up" data-aos-duration="1000">Always New,<br>Always Fresh.</h2>
                <div class="count_list" data-aos="fade-up" data-aos-duration="1000">
                    <div class="count">
                        <h3 class="today_count">오늘도 새로운 도넛을 <br><span>00</span>개<br> 만큼 구웠습니다.</h3>
                        <p>캘리포니아 도넛 클럽에서 매일 새로운 도넛을 즐겨보세요</p>
                        <p>캘리포니아 도넛 클럽은 매일 하루에 두번 도넛을 만듭니다.<br>매일 아침 11시와 오후 2시에 오시면 갓 만든 따듯한 도넛을 드실수 있습니다.</p>
                        <p>도넛 만드는 시간은 일부 매장에 따라 변경될 수 있습니다.<br>자세한 소식은 각 매장에 직접 문의하세요.</p>
                    </div>
                    <!-- <div class="right"><img src="/img/baking01.png"></div> -->
                </div>
            </div>
        </div>
        <div class="news">
            <div class="center">
                <h2 data-aos="fade-up" data-aos-duration="1000">News & Events</h2>
                <div class="news_boxs">
                    <div class="left_img" data-aos="fade-right" data-aos-duration="1000">
                        <img src="/img/news_img00.png">
                    </div>
                    <div class="view" data-aos="fade-left" data-aos-duration="1000">
                        <div class="btns">
                            <img class="up" src="/img/up.png">
                            <img class="down" src="/img/down.png">
                        </div>
                        <div class="boxs">
                            <% for(let i = 0; i < brdData.length; i++){ %>
                            <div class="box">
                                    <p><%- brdData[i].classification %></p>
                                    <a href="/detail/<%- brdData[i].num %>"><%- brdData[i].title %></a>
                                    <p><%- brdData[i].date %></p>
                                    <img src="/img/right_b.png">
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="mid_img"><img src="/img/main_img.png"></div> -->
        <div class="location">
            <div class="center">
                <h2 data-aos="fade-up" data-aos-duration="1000">Where's<br>California Doughnut Club</h2>
                <div id="map" data-aos="fade-up" data-aos-duration="1000"></div>
                <a class="more" href="/storelist"><img src="/img/right_b.png"> 내 주변 가까운 캘리포니아 도넛클럽 매장을 찾아보세요</a>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
    <!-- 우측 하단 top 버튼 관련 스크립트 -->
    <script src="/js/up.js"></script>
    <!-- 메인화면 슬라이더 관련 스크립트 -->
    <script src="/js/main_slide.js"></script>
    <!-- Limited time 관련 스크립트 -->
    <script src="/js/limited_time.js"></script>
    <script src="/js/limited_time_slide.js"></script>
    <!-- baking count 관련 스크립트 -->
    <script src="/js/baking_count.js"></script>
    <!-- news, events 관련 스크립트 -->
    <script src="/js/news_events_slide.js"></script>
    <!-- carousel 관련 스크립트 -->
    <script src="/js/carousel_before.js"></script>
    <!-- 카카오 맵 관련 스크립트 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b51f43f1b910999c76c4f91f07d522a3"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=LIBRARY"></script>
    <script src="/js/kakao_map.js"></script>
    <!-- 스크롤시 등장효과 AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>