<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 리스트</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 파비콘 관련 링크 -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="menu_wrap">
        <div class="center">
            <ul class="type_btns">
                <li><a href="/menu/doughnut">도넛</a></li>
                <li><a href="/menu/coffee">커피</a></li>
                <li><a href="/menu/tea">티</a></li>
                <li><a href="/menu/ade">에이드</a></li>
            </ul>
            <div class="menu_list">
                <% for(let i = 0; i < prdData.length; i++){ %>
                <div class="menu_box">
                    <div class="img_box">
                        <a href="/doughnut/<%- prdData[i].num %>"><img src="/upload/<%- prdData[i].thumbnail %>"></a>
                    </div>
                    <div class="text_box">
                        <a href="/doughnut/<%- prdData[i].num %>"><%- prdData[i].name %></a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
    <!-- 상단 메뉴 클릭시 색상 바뀌는 것 관련 스크립트 -->
    <script src="/js/menu_list.js"></script>
</body>
</html>